textarea{
    padding: 7px;
}


.form-layout{
    display: grid;
    padding: 15px;
    width: 100%;
    /* border: 3px solid grey; */
    background-color: #2C394B;
    grid-template-columns: 30% 10% 10% 50% ;
    grid-template-rows: 7vh 1fr 1fr 2fr 2fr 1fr;
    grid-template-areas: 
    "title title title title"
    "form-code . form-name form-name"
    "form-cant form-cant form-variation form-variation"
    "form-info form-info form-info form-info"
    "form-considerations form-considerations form-considerations form-considerations"
    "form-actions form-actions form-actions form-actions";
    align-items: center;
    justify-items: start;
}

.form-title{
    align-self: start;
    grid-area: title;
}
.form-code{
    align-self:center;
    grid-area: form-code;
}

.form-name{
    align-self:center;
    grid-area: form-name;
}
.form-variation{
    grid-area: form-variation;
}
.form-cant{
    grid-area: form-cant;
}
.form-info{
    width: 100%;
    margin-top: 5px;
    grid-area: form-info;
}
.form-considerations{
    width: 100%;
    margin-top: 5px;    
    grid-area: form-considerations;
}

.form-actions{
    margin: 0px auto;
    grid-area: form-actions;
    display: flex;
    flex-direction: row;
    justify-items: center;
    gap: 20%;
}
.form-actions>button{
    padding: 5px;
}
.text-area-info{
    resize: none;
    width: 100%; 
    height: 10vh;
}

.text-area-considerations{
    resize: none;
    width: 100%;
    height: 10vh;
}

.helper{
    position: fixed;
    width: 130px;
    height: fit-content;
    font-size: 9px;
    border:1px solid grey ;
    transform: translateZ(50%);
    background-color: antiquewhite;
    color:red;
    padding: 3px;
}