

.catalog-form{
    display: grid;
    padding: 15px;
    width: 100%;
    /* border-radius: 5px; */
    background-color: #2C394B;
    grid-template-columns: 1fr 2fr 1fr 1fr;
    grid-template-rows: 7vh 8vh 8vh 25vh 25vh;
    grid-template-areas:
                        "title title title title"
                        "code name . ." 
                        "dosis-input auth-months send-button send-button"
                        "info info info info"
                        "consi consi consi consi";
    align-items: center;
    justify-items: start;
    row-gap: 1vh;
}

.form-title{
    grid-area: title;
}

.code{
    grid-area: code;
}

.name{
    width:100%;
    grid-area: name;
}
.name-wrap{
    width: 15vw;
    
    overflow: hidden;
    white-space:nowrap;
    text-overflow: ellipsis;
}
.dosis-input{
    grid-area: dosis-input;
}
.auth-months{
    grid-area: auth-months;
}
.send-button{
    grid-area: send-button;
    align-self: end;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:5px;
}
.send-button>p{
    width: 35%;
    height: 5vh;
    line-height: 1.5rem;
    border-radius: 3px;
    background-color: rgb(180, 180, 180);
    color: black;
}
.send-button>button:hover{
    cursor: pointer;
}
.ideal-dosis{
    grid-area: ideal-dosis;
}
.info{
    grid-area: info;
    border: 1px solid grey;
    border-radius: 5px;
    padding: 15px;
    min-height:20vh;
    max-height:20vh;
    overflow-x: hidden;
    word-wrap: break-word;
    width: 100%;
}
.consi{
    grid-area: consi;
    border: 1px solid grey;
    border-radius: 5px;
    padding: 15px;
    min-height:20vh;
    max-height:20vh;
    overflow-x: hidden;
    word-wrap: break-word;
    width: 100%;
}
