.catalog-layout{
    width: 100%;
    display: grid;
    grid-template-columns: 40% 57%;
    grid-template-rows: 83vh;
    grid-template-areas:
    "form list";
    column-gap: 3%;
}

.form{
    grid-area: form;
}
.catalog-list{
    grid-area: list;
}
