.App {
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: hidden;
  display: grid;
  grid-template-rows: 8% 92%;
  grid-template-areas: '"header""app-body"';
}


.Body {
  
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

.body-app {
  width: 100%;
  position: relative;
  padding: 2%;
}

/* HEader styles */


.Header {
  position: relative;
  width: 100%;
  height: 8vh;
  background-color: #2C394B;
  border-bottom: 3px solid #FF4C29 ;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5%
}

.Nav-button {
  position: absolute;
  left: 4%;
  top: 19%;
  height: inherit;
  width: fit-content;
  align-items: center;
  border-radius: 5%;
  transition: all 350ms;
}

.Nav-button:hover {
  cursor: pointer;
}

.Nav-open-button {
  filter: invert(100%);
}

.app-title {
  position: absolute;
  left: 10%;
  height: inherit;
}

/* Nav styles */



.Nav {
  border-right: 1px solid grey;
  box-shadow: 1px 1px 8px grey;
  width: 20vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: -100%;
  background-color: #0f0f0f;
  display: grid;
  grid-template-rows: max-content;
  transition: left 700ms;
}


.Nav.Nav-Open {
  left: 0;
}

.Nav-button-nav{
  position: absolute;
  right: 2%;
  top:15%
}

.nav-close-button{
  filter:invert(100%)
}

.nav-close-button:hover{
  cursor: pointer;
}

.Nav-header {
  position: relative;
  height: 8vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #2C394B;
  border-bottom: 2px solid grey;
  align-items: center;
}

.Nav-title {
  position: absolute;
  left: 5%;
  top:10%
}



.nav-item-container {
  display: flex;
  flex-direction: column;
}

.Nav-item {
  border-bottom: 1px solid grey;
  text-align: center;
  padding: 5%;
  font-weight: bold;
  transition: all 300ms;
  transition: color 5ms;
}

.Nav-item:hover {
  cursor: pointer;
  background-color: grey;
  box-shadow: inset 1px 1px 1px gray;
}



.Nav-item:active {
  box-shadow: inset 1px 1px 10px black;
  color: white;
}

