
.Nav {
    width: 20vw;
    height: 100vh;
    position: fixed;
    border: 3px solid grey;
    top: 0;
    left: -100%;
    /* transform: translateX(-100%); */
    background-color: aliceblue;
    display: grid;
    grid-template-rows: max-content;
    transition: left 700ms;
  }
  
  
  .Nav.Nav-Open {
    left: 0;
  }

.nav-item-container{
  display: flex;
  flex-direction:column;
}
.Nav-item{
  border: 1px solid grey;
  text-align: center;
  padding: 5%;
  font-weight: bold;
  transition: all 300ms;
  transition: color 5ms;
}
.Nav-item:hover{
  cursor: pointer;
  background-color: grey;
  box-shadow: inset 1px 1px 1px gray;
}
.Nav-open-button{
  filter:invert(100%);
  
}


.Nav-item:active{
  box-shadow: inset 1px 1px 10px black;
  color: white;
}

.Nav-button {
  margin-left: 2%;
  height: inherit;
  width: fit-content;
  align-items: center;
  border-radius: 5%;
  transition: all 350ms;
}

.Nav-button:hover {
  cursor: pointer;
}

.app-title {
  height: inherit;
}

.Nav-header {
  height: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 2px solid grey;
  align-items: center;
}
.Nav-title{
  margin-left: 5%;
}
  